Source: pifacedigitalio
Maintainer: Thomas Preston <thomas.preston@openlx.org.uk>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.6.6-3), debhelper (>= 7),
               python3, python3-setuptools
Standards-Version: 3.9.1
X-Python3-Version: >= 3.2

Package: python-pifacedigitalio
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
         python-pifacecommon (>= 4.0.0), , python-pifacecommon (<< 5.0.0)
Description: The PiFace Digital I/O module.
 Python module for interacting with PiFace Digital.
 Documentation: http://piface.github.io/pifacedigitalio/

Package: python3-pifacedigitalio
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends},
         python3-pifacecommon (>= 4.0.0), , python3-pifacecommon (<< 5.0.0)
Description: The PiFace Digital I/O module.
 Python 3 module for interacting with PiFace Digital.
 Documentation: http://piface.github.io/pifacedigitalio/
